In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
# create a dataframe with person, roll_no, phone
df = pd.DataFrame({'person': ['John', 'Jane', 'Joe', 'Jack', 'Jill'],
                     'roll_no': [1, 2, 3, 4, 5],
                        'phone': ['1234567890', '1234567895', '1234567895', '1234567890', '1234567894']})
df

  person  roll_no       phone
0   John        1  1234567890
1   Jane        2  1234567895
2    Joe        3  1234567895
3   Jack        4  1234567890
4   Jill        5  1234567894

In [48]:
df['phone'].value_counts()

1234567890    2
1234567895    2
1234567894    1
Name: phone, dtype: int64

In [49]:
# get values of phone column which are repeated more than once
df['phone'].value_counts()[df['phone'].value_counts() > 1].index

Index(['1234567890', '1234567895'], dtype='object')

In [50]:
# get the rows which have phone number repeated more than once
df[df['phone'].isin(df['phone'].value_counts()[df['phone'].value_counts() > 1].index)]

  person  roll_no       phone
0   John        1  1234567890
1   Jane        2  1234567895
2    Joe        3  1234567895
3   Jack        4  1234567890

In [51]:
# group by phone and get the person names
df[df['phone'].isin(df['phone'].value_counts()[df['phone'].value_counts() > 1].index)].groupby('phone')['person'].apply(list)

phone
1234567890    [John, Jack]
1234567895     [Jane, Joe]
Name: person, dtype: object

In [52]:
# create connections for person with same phone number
df[df['phone'].isin(df['phone'].value_counts()[df['phone'].value_counts() > 1].index)].groupby('phone')['person'].apply(list).apply(lambda x: [(x[i], x[j]) for i in range(len(x)) for j in range(i+1, len(x))]).sum()

[('John', 'Jack'), ('Jane', 'Joe')]

In [56]:

grouped = df[df['phone'].isin(df['phone'].value_counts()[df['phone'].value_counts() > 1].index)]

In [72]:
connected_names = grouped.groupby('phone')['person'].apply(list).apply(lambda x: [(x[i], x[j]) for i in range(len(x)) for j in range(i+1, len(x))]).sum()

In [75]:
for i in connected_names:
    print(i[1])

Jack
Joe